/*basic tags*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size:  2.0625rem;
    font-weight: 300;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

ul, li {
    display: inline-block;
    list-style-type: none;
}

/*classes*/
.highlight-box {
    background-color: #393939;
    color: #FFF;
    text-align: center;
}

/*pixels work best here*/
.icon {
    width: 50px;
    height: 50px;
}

/*main menu navigation*/
.navbar {
    background-color: #FFF0ED;
    width: 100%;
    height: 7rem; /*but why????*/
    padding: 0 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar__link {
    color:#393939;
    text-decoration: none;
} 

.navbar__logo {
    vertical-align: text-bottom;
}

.navbar__heading {
    display: inline-block;
    color: #393939;
    line-height: 3.125rem; /*what about this?*/
}

.navbar__item {
    font-size: 1.3125rem; 
    font-weight: 400;
    padding: 1.25rem 1.25rem 0 1.25rem; /*hrmmmmmm*/
    text-transform: uppercase;
    text-decoration: none;
}

.navbar__link:hover, .subnav__link:hover {
    color: #5BACC3;
}

