/*pseudo-elements*/
::selection {
    color: #FFF;
    background-color: #5BACC3;
}

::-moz-selection {
    color: #FFF;
    background-color: #5BACC3;
}

/*buttons*/
button {
    background-color: #5BACC3;
    cursor: pointer;
    width: 11.25rem;
    padding: 1rem 1.25rem; /*16px (style guide said 20px but looked too tall), 20px*/
    border: 0;
    color:#FFF;
    font-size: 1.3125rem;
    font-weight: 400;
    text-transform: uppercase;
}

button:hover {
    background-color: #393939;
}

.wrapper {
    padding: 3.75rem 0;
}

/*hero*/
.hero {
    background-color: #FFF0ED;
    padding: 2.5rem 12.5rem 2.5rem 8.75rem;
}

.hero__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text__container {
    width: 25%;
}

.hero__title {
    margin-bottom: 1.25rem;
}

.hero__text {
    margin-bottom: 2.5rem;
}

/* .hero__image {
    
} */

/*products*/
.product {
    text-align: center;
    background-color: #F7F7F7;
}

.product__title {
    margin-bottom: 3.75rem;
    padding-top: 3.75rem;
}

/*cards*/
.product__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 0 12.5rem; */
}

.card {
    background-color: #FFF;
    border-radius: .625rem;
    box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0,0,0,0.25);
    transition: 0.5s;
    width: 20.625rem;
    height: 27.5rem;
    align-content: end;
}

.card__img {
    height: 17.5rem;
    padding: 1.25rem;
}

.card__details{
    background-color:#FFF0ED;
    padding: 2.5rem 1.25rem;
    border-radius: 0 0 .625rem .625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    text-align: left;
}

.card__quantity {
    color: #909090;
}

.card__price {
    color: #5BACC3;
    font-size:  2.0625rem; /*Coffee Shop 4 says it is a paragraph, but size appears equal to h3*/
    font-weight: 700;
}

/*call to action*/
.banner {
    width: 70%; /*style guide said 90% but it looked extra long*/
    margin: auto;
    padding: 2.5rem 0;
    margin-top: 12.5rem;
    margin-bottom: 6.25rem;
}

.banner__text {
    font-size: 2.8125rem;
    font-weight: 400;
}

.call-to-action{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.call-to-action__text{
    width: 26%;
}

.call-to-action__icons{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}
.call-to-action__image{
    background-image:url("../assets/images/coldbrewbackground.png");
    width: 25rem;
    height: 25rem;
    /* background-position: center; */
    background-size: cover;
    align-content: center;
    text-align: center;
}

/*footer*/
.footer {
    text-align: center;
    padding-right: 12.5rem;
    background-color: #FFF0ED;
}

.footer__content {
    display: inline-block;
    text-align: left;
    margin: 5rem 0;
}

.footer__heading {
    margin-bottom: 1.25rem;
}

.footer__text {
    margin-right: 8.75rem;
}
