/*variables*/
/*mixins*/
/*selection highlight*/
::-moz-selection {
  color: #fff;
  background-color: #5bacc3;
}
::selection {
  color: #fff;
  background-color: #5bacc3;
}

::-moz-selection {
  color: #fff;
  background-color: #5bacc3;
}

/*basic tags*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1,
h2 {
  font-weight: 300;
  font-size: 3.75rem;
}

h3 {
  font-weight: 300;
  font-size: 2.0625rem;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
}

ul,
li {
  display: inline-block; /*ADD flex??? - squishes them in more*/
  list-style-type: none;
}

/*classes*/
/*pixels work best here*/
.icon {
  width: 50px;
  height: 50px;
}

/*main menu navigation*/
.navbar {
  background-color: #fff0ed;
  width: 100%;
  height: 7rem; /*CHECK HEIGHT is there any reason I use should padding around the container instead????*/
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar__link {
  color: #393939;
  text-decoration: none;
}
.navbar__link:hover {
  color: #5bacc3;
}
.navbar__logo {
  vertical-align: text-bottom;
}
.navbar__heading {
  display: inline-block; /*ADD flex? - I can add flex to __link but it requires line-height */
  color: #393939;
  line-height: 3.125rem; /*Do I need?*/
}
.navbar__item {
  font-weight: 400;
  font-size: 1.3125rem;
  padding: 1.25rem 1.25rem 0 1.25rem;
  text-transform: uppercase;
}

/*classes*/
.button {
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 1.3125rem;
  text-transform: uppercase;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 0.125rem #393939;
  left: -0.3125rem; /*guidelines say 15px increments, but that seemed too large*/
  top: -0.3125rem;
  /*I am not using transition or animation below because it isn't helpful for the instant and simple translation*/
}
.button:active {
  left: 0;
  top: 0;
}

.hero {
  background-color: #fff0ed;
  padding: 2.5rem 12.5rem 2.5rem 8.75rem;
}
.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hero__message {
  width: 25%;
}
.hero__title {
  margin-bottom: 1.25rem;
}
.hero__text {
  margin-bottom: 2.5rem;
}
.hero__button-container {
  position: relative;
  width: 11.25rem;
  height: 3.75rem;
  background-color: #5bacc3;
  padding: 1.25rem;
  margin-bottom: 5rem;
}

.product {
  text-align: center;
  background-color: #f7f7f7;
}
.product__title {
  margin-bottom: 3.75rem;
  padding-top: 3.75rem;
}
.product__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product__button-container {
  position: relative;
  width: 11.25rem;
  height: 3.75rem;
  background-color: #5bacc3;
  padding: 1.25rem;
  margin-bottom: 5rem;
  display: inline-block; /*Simpler to use here than flex*/
}

.card {
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  width: 20.625rem;
  height: 27.5rem;
  align-content: end;
  margin-bottom: 5rem;
}
.card__img {
  height: 17.5rem;
  padding: 1.25rem;
}
.card__details {
  background-color: #fff0ed;
  padding: 2.5rem 1.25rem;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.card_quantity {
  color: #909090;
}
.card__price {
  color: #5bacc3;
  font-weight: 700;
  font-size: 2.0625rem;
  /*Coffee Shop 4 says it is a paragraph, but size appears equal to h3*/
}

/*animations */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    background: #393939;
  }
  50% {
    background: #5bacc3;
  }
  100% {
    background: #393939;
  }
}
/*call to action*/
.cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.cta__container {
  width: 26%;
}
.cta__title {
  margin-bottom: 1.25rem;
}
.cta__text {
  margin-bottom: 2.5rem;
}
.cta__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.cta__background {
  width: 25rem;
  height: 25rem;
  text-align: center;
  position: relative;
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: cover;
}
.cta__background:hover .cta__image { /*instructions say can must rotate with hover over box/line image - otherwise I would just have this hover on image without a child selector, which isn't nice with nesting*/
  animation: spin 2s linear infinite;
}
.cta__border {
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  border: solid 0.3125rem #5bacc3;
  top: -1.25rem;
  left: -1.25rem;
}
.cta__image {
  height: 17.5rem;
  transform: rotate(0deg);
}
.cta__banner {
  width: 65%; /*style guide said 90% but it looked extra long*/
  padding: 2.5rem 0;
  margin-top: 12.5rem;
  margin-bottom: 6.25rem;
  background-color: #393939;
  color: #fff;
  text-align: center;
  animation: flash 2.5s ease infinite;
}
.cta__discount-text {
  font-weight: 400;
  font-size: 2.8125rem;
}
.cta__button-container {
  position: relative;
  width: 11.25rem;
  height: 3.75rem;
  background-color: #5bacc3;
  padding: 1.25rem;
  margin-bottom: 5rem;
}

.footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.footer__content {
  text-align: left;
  margin: 5rem 0;
}
.footer__heading {
  margin-bottom: 1.25rem;
}
.footer__logo {
  opacity: 0.25;
  width: 7.5rem;
}
.footer__logo--top {
  align-self: start;
  padding-top: 1.25rem;
  position: relative;
  left: -2.5rem;
}
.footer__logo--bottom {
  align-self: end;
  padding-bottom: 1.25rem;
  position: relative;
  right: -2.5rem;
}/*# sourceMappingURL=landing.css.map */