/*basic tags*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1, h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

ul, li {
  display: inline-block; /*ADD flex*/
  list-style-type: none;
}

/*classes*/
/*pixels work best here*/
.icon {
  width: 50px;
  height: 50px;
}

/*main menu navigation*/
.navbar {
  background-color: #FFF0ED;
  width: 100%;
  height: 7rem; /*but why????*/
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  color: #393939;
  text-decoration: none;
}

.navbar__logo {
  vertical-align: text-bottom;
}

.navbar__heading {
  display: inline-block; /*ADD flex*/
  color: #393939;
  line-height: 3.125rem; /*flex direction row???*/
}

.navbar__item {
  font-size: 1.3125rem;
  font-weight: 400;
  padding: 1.25rem 1.25rem 0 1.25rem; /*hrmmmmmm*/
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__link:hover, .subnav__link:hover {
  color: #5BACC3;
}

/*pseudo-elements*/
::-moz-selection {
  color: #FFF;
  background-color: #5BACC3;
}
::selection {
  color: #FFF;
  background-color: #5BACC3;
}

::-moz-selection {
  color: #FFF;
  background-color: #5BACC3;
}

/*buttons*/
button {
  cursor: pointer;
  color: #FFF;
  font-size: 1.3125rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 0.125rem #393939;
  left: -5px;
  top: -5px;
}

button:hover {
  background-color: #393939;
}

.hero__button, .product__button, .cta__button {
  position: relative;
  display: inline-block;
  width: 11.25rem;
  height: 3.75rem;
  background-color: #5BACC3;
  padding: 1.25rem;
  margin-bottom: 5rem;
}

.wrapper {
  padding: 3.75rem 0;
  margin: 5rem;
}

/*hero*/
.hero {
  background-color: #FFF0ED;
  padding: 2.5rem 12.5rem 2.5rem 8.75rem;
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero__message {
  width: 25%;
}

.hero__title, .cta__title {
  margin-bottom: 1.25rem;
}

.hero__text, .cta__text {
  margin-bottom: 2.5rem;
}

/* .hero__image {

} */
/*products*/
.product {
  text-align: center;
  background-color: #F7F7F7;
}

.product__title {
  margin-bottom: 3.75rem;
  padding-top: 3.75rem;
}

/*cards*/
.product__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 0 12.5rem; */
}

.card {
  background-color: #FFF;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  width: 20.625rem;
  height: 27.5rem;
  align-content: end;
  margin-bottom: 5rem;
}

.card__img {
  height: 17.5rem;
  padding: 1.25rem;
}

.card__details {
  background-color: #FFF0ED;
  padding: 2.5rem 1.25rem;
  border-radius: 0 0 0.625rem 0.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.card__quantity {
  color: #909090;
}

.card__price {
  color: #5BACC3;
  font-size: 2.0625rem; /*Coffee Shop 4 says it is a paragraph, but size appears equal to h3*/
  font-weight: 700;
}

/*call to action*/
.cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.cta__container {
  width: 26%;
}

.cta__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.cta__background {
  width: 25rem;
  height: 25rem;
  text-align: center;
  position: relative;
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: cover;
}

.cta__border {
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  left: -1.25rem;
  border: solid 0.3125rem #5BACC3;
  top: -1.25rem;
  z-index: 1;
}

.cta__image {
  height: 17.5rem;
}

.cta__banner {
  width: 70%; /*style guide said 90% but it looked extra long*/
  margin: auto;
  padding: 2.5rem 0;
  margin-top: 12.5rem;
  margin-bottom: 6.25rem;
  background-color: #393939;
  color: #FFF;
  text-align: center;
}

.cta__discount {
  font-size: 2.8125rem;
  font-weight: 400;
}

/*footer*/
.footer {
  background-color: #FFF0ED;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.footer__content {
  text-align: left;
  margin: 5rem 0;
}

.footer__heading {
  margin-bottom: 1.25rem;
}

.footer__logo {
  opacity: 0.25;
  width: 7.5rem;
}

/*how to get it to wrap properly??*/
.top {
  align-self: start;
  padding-top: 1.25rem;
  position: relative;
  left: -2.5rem;
}

.bottom {
  align-self: end;
  padding-bottom: 1.25rem;
  position: relative;
  right: -2.5rem;
}/*# sourceMappingURL=landing.css.map */