@use './partials/global' as *;

.hero {
    background-image:url("../assets/images/coffee-circle.jpg");
    width: 100%;
    height: 43.75rem;
    background-position: center;
    background-size: cover;
    align-content: center; 
    &__container {
        background-color: $graphite;
        height: 12.5rem;
        width: 18.75rem;
        margin: auto;
        position: relative;
    }
    &__title {
        color: #FFF;
        text-align: center;
    }
    &__border {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid .3125rem $nitro-blue;
        left: -0.9375rem; 
        top: -0.9375rem;
    } 
}

/*submenu navigation*/
.subnav {
    width: 100%;
    height: 5rem;
    align-content: center;
    background-color: $graphite;
    color: $white;
    text-align: center;
    &__link {
        color: #FFF;
        text-decoration: none;
        border-left: 0.25rem solid $nitro-blue;
        padding: 0 1.25rem;
        &:hover {
            @extend .link-hover;
        }
    }
    &__item {
        font-size: 1.3125rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}

/*products*/
.product-list {
    text-align: center;
}

.product {
    padding-bottom: 2.5rem;
    &--odd {
        background-color: $nitro-pink;
    }
    &--even {
        background-color: $light-gray;
    }
    &__category {
        padding: 1.25rem 0;
    }
    &__title {
        margin-top: 1.25rem;
    }
    &__description {
        font-style: italic;
        color: $graphite;
        width: 28.5%;
        margin: auto;
        padding: 0.25rem 0;
    }
    &__price {
        color: $nitro-blue;
    }
}
