@use "./variables" as *;
@use "./mixins" as *;

/*selection highlight*/
::selection {
  @include highlight;
}

::-moz-selection {
  @include highlight;
}

/*basic tags*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1,
h2 {
  @include light-font(3.75rem);
}

h3 {
  @include light-font(2.0625rem);
}

p {
  @include regular-font(1.125rem);
}

ul,
li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*pixels work best here*/
.icon {
  width: 50px;
  height: 50px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  @include regular-font(1.3125rem);
  text-transform: uppercase;
  @include full-size;
  position: absolute;
  border: solid 0.125rem $graphite;
  right: 0.3125rem; /*guidelines say 15px increments, but that seemed too large*/
  bottom: 0.3125rem;
  &:active {
    right: 0;
    bottom: 0;
  }
}

/*main menu navigation*/
.navbar {
  background-color: $nitro-pink;
  width: 100%;
  height: 7rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  &__link {
    color: $graphite;
    display: flex;
    align-items: center;
    &:hover {
      color: $nitro-blue;
    }
  }
  &__heading {
    color: $graphite;
    padding-bottom: 0.3125rem;
  }
  &__item {
    @include regular-font(1.3125rem);
    padding: 1.25rem 1.25rem 0 1.25rem;
    text-transform: uppercase;
  }
}
