@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/*selection highlight*/
::selection {
  @include highlight;
}

::-moz-selection {
  @include highlight;
}

/*basic tags*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1,
h2 {
  @include light-font(3.75rem);
}

h3 {
  @include light-font(2.0625rem);
}

p {
  @include regular-font(1.125rem);
}

ul,
li {
  display: inline-block; /*ADD flex??? - squishes them in more*/
  //   display: flex;
  //   justify-content: center;
  list-style-type: none;
}

/*classes*/
/*pixels work best here*/
.icon {
  width: 50px;
  height: 50px;
}

/*main menu navigation*/
.navbar {
  background-color: $nitro-pink;
  width: 100%;
  height: 7rem; /*CHECK HEIGHT is there any reason I use should padding around the container instead????*/
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
//   &__container {
//     padding: 2.5rem 0;
//   }
  &__link {
    color: $graphite;
    text-decoration: none;
    &:hover {
      color: $nitro-blue;
    }
  }
  &__logo {
    vertical-align: text-bottom;
  }
  &__heading {
    display: inline-block; /*ADD flex? - I can add flex to __link but it requires line-height */
    color: $graphite;
    line-height: 3.125rem; /*Do I need?*/
  }
  &__item {
    @include regular-font(1.3125rem);
    padding: 1.25rem 1.25rem 0 1.25rem;
    text-transform: uppercase;
  }
}
