@mixin regular-font($font-size) {
    font-weight: 400;
    font-size: $font-size;
  }
  
  @mixin light-font($font-size) {
    font-weight: 300;
    font-size: $font-size;
  }
  
  @mixin bold-font($font-size) {
    font-weight: 700;
    font-size: $font-size;
  }
  
  @mixin highlight {
    color: $white;
    background-color: $nitro-blue;
  }
  
  @mixin contrast-box {
    background-color: $graphite;
    color: $white;
    text-align: center;
  }
    
  @mixin full-size {
    width: 100%;
    height: 100%;
  }
    
  @mixin message-title {
    margin-bottom: 1.25rem;
  }
  
  @mixin message-text {
    margin-bottom: 2.5rem;
  }
  
  @mixin button-base {
    position: relative;
    width: 11.25rem;
    height: 3.75rem;
    background-color: $nitro-blue;
    padding: 1.25rem;
    margin-bottom: 5rem;
  }
  